			body, html{
				height:100%;
				width:100%;
			}

			/* Basic Fonts~ */
			h1{
				font-size:3em;
				font-family:"HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
				margin:0 0 .5em 0;
			}
			h3{
				font-family:"HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
				/*margin-bottom:.5em;
				margin-top:.5em;*/
				margin:0 0 .5em 0;
				color:#252525;
				font-size:1.75em;
			}
			h4{
				font-family:"HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
				margin:0;
				font-size:1.15em;
				color:#252525;
				text-decoration:none;
			}
			p{
				font-size:1em;
				font-family:"HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
				margin:.5em 0 .5em 0;
				color:#252525;
				line-height:140%;
			}
			a{
				/*text-decoration:underline;*/
				text-decoration:none;
				font-size:1em;
				font-family:"HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
				color:#BBBBBB;
				line-height:140%;
			}
			a:hover{
				color:#69C773;
			}
			ul{
				margin:.5em;
				padding-left:.75em;
			}
			li{
				font-family:"HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
				margin:0 0 .5em 0;
				color:#252525;
			}
			
			/* First display (as soon as page is opened) */
			.image{
				width:100%;
				height:100%;
				position:absolute;
				left:0px;
				top:0px;
				background-position:center bottom;
				background-size:cover;
				/*background-image:url(ARCHER.jpg);*/
				background-color:black;
				z-index:1;
			}
			.writing{
				top:50%;
				left:50%;
				z-index:2;
				position:absolute;
				-webkit-transform:translate(-50%, -50%);
				-ms-transform:translate(-50%, -50%);
				-moz-transform:translate(-50%, -50%);
				text-align:center;
			}
			
			/* The Navigation Bar*/
			.nav-bar{
				text-align:center;
			}
			ul.nav-bar{
				margin:0em;
				padding:0em;
				content:" ";
				list-style:none;
			}
			li.nav-bar{
				list-style-type:none;
				display:inline-block;
				text-align:center;
				position:relative;
				margin:auto;
				height:2.5em;
			}
			a.nav-bar{
				color:#FFF;
				font-size:1em;
				font-family:Helvetica, Arial, sans-serif;
				text-decoration:none;
				position:relative;
				display:inline-block;
				padding:.5em;
				/*padding:.7em .75em .7em .75em;
				margin:0 .1em 0 .1em;*/
				left:50%;
				top:50%;
				-webkit-transform:translate(-50%,-50%);
				-ms-transform:translate(-50%, -50%);
				-moz-transform:translate(-50%, -50%);
			}
			a.nav-bar:hover{
				color:#FFF;
				background:#252525;
			}
			.selected{ /* Changes color when it is selected */
				background-color:#69C773;
				color:#FFF;
			}
			#nav{
				height:2.5em;
				width:100%;
				margin:0em;
				padding:0em;
				background:transparent;
				left:0em;
				bottom:0;
				position:absolute;
				z-index:9999;
			}

			#space{ /* Creates a space between content and top so for nav bar */
				height:0em;
			}

			/* The actual information */
			.content{
				/*margin:2% 5% 2%;*/
				top:100%;
				left:0;
				position:absolute;
			}
			.section{
				/*margin:2% 5% 2%;*/
				background-color:#FFFFFF;
				border-radius:.25em;
				min-height:100vh;
				width:100%;
				/*vertical-align:top;*/
			}
			.information{
				padding:4% 6% 5% 6%;
			}
			.anchor{
				display:block;
				height:2.5em;
				margin-top:-2.5em;
				visibility:hidden;
			}

			.project{
				background:#FFFFFF;
				padding:1%;
				margin-bottom:.5em;
			}
			.project-header{
				cursor:pointer;
			}
			.project-header:hover{
				text-decoration:underline;
			}
			.project-info{
				display:none;
			}

			a.resume-btn{
				border:.1em solid #EDEDED;
				background-color:#EDEDED;
				padding:.5em;
				color:#252525;
				cursor:pointer;
			}
			a.resume-btn:hover{
				background-color:#FFFFFF;
				color:#252525;
			}
			div.resume{
				padding:1%;
				margin:.5em;
			}
			p.resume{
				margin:.25em 0 0 0;
			}
			.resume-section{
				padding:.5%;
				margin-left:.5em;
			}

			div.footer{
				height:1.5em;
				width:100%;
				left:0;
				position:absolute;
				background-color:#666666;
			}
			p.footer{
				margin:0 0 0 .5em;
				float:left;
			}
			a.footer{
				margin:0 .5em 0 0;
				float:right;
			}
